@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
    font-family: 'Readex Pro', sans-serif;
}
body {
  margin: auto;
  background: brown;
}
header {
		display: grid;
		grid-template-columns: 65% 35%;
    padding: 5px;
    background-color: darksalmon;
    
}
#menu {
    padding-top: 2rem;
		right: 200px;
    position: absolute;
   
}
#menu > ul {
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

ul  li {
    margin-left: 20px;
}
#menu  a {
    text-decoration: none;
    color: rgb(41, 15, 15);
    font-size: 1rem;
		padding-top: 3px;
		padding-bottom: 3px;
}

#menu > ul  ul {
  background-color: rgb(255, 175, 148);
  display: none;
  position: absolute;
  top: 80px;
  list-style-type: none;
  padding: 5px;
  border-bottom-left-radius:20px ;
  border-bottom-right-radius:20px ;
}

#menu > ul ul li {
  padding: 1rem;
  margin: 0;
  text-align: center;
}
#menuToggle {
    background-color: transparent;
    border:none;
    background-size: cover;
    width: 40px;
    height: 40px;
    align-self: flex-start;
    margin-left: auto;
}
#rectangle{
    width: 150px;
    height: 75px;
    background: linear-gradient(to left, rgb(14, 13, 13) 30%, brown 70%);
    border-radius: 75%;
    top: auto;
   
}
/*CSS style for the navigation link*/
.beforeContent {
  display: flex;
  color: black;
}
.forContent > p {
  padding-left: 8px;
}

.pageContent {
	display: grid;
	grid-template-columns: 60% 40%;
}
.forward {
    display: block;
    background: cornsilk;
    text-align: justify;
    border-radius: 10px;
		padding: 1em;
		margin: 2rem;
}
.forwardContent {
    display: flex;
    align-items: flex-start;
    background: cornsilk;
    border-radius: 10px;
		padding: 1em;
		margin: 2rem;
    
}
.forwardContent img {
  border-radius: 2px;
  padding-top: 1em;
}
.content {
	padding-left: 1em;
 
}
.nextStep {
		display: flex;
    align-items: flex-start;
    background: cornsilk;
    border-radius: 10px;
		padding: 1em;
		margin: 2rem;
}
.title {
    font-size: 2rem;
    color:cornsilk;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}
footer {
	height: 50px;
	color: cornsilk;
  background: salmon;
	text-align: center;
	font-size: 1rem;
	padding-top: 0.5em;
}
@media screen and (max-width: 810px),(max-width: 900px){

    li > a {
    text-decoration: none;
    color: rgb(14, 6, 6);
    font-size: 1rem;
    }
		.forwardContent {
    display: flex;
    flex-wrap: wrap;
		padding: 0.5em;
		margin: 1rem;
    }
    .forwardContent img {
      width:400px; ;
      height: 200px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
		.pageContent {
		display: block;
		
		}
    
}
@media screen and (max-width: 310px){

    li > a {
    text-decoration: none;
    color: rgb(14, 6, 6);
    font-size: 1rem;
    }
		.forwardContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
		padding: 0.5em;
		margin: 1rem;
    }
    .forwardContent img {
      width: 400px; ;
      height: 200px;
      padding-left: 1rem;
      padding-right: 1rem;
    }
		.pageContent {
		display: block;
		
		}
  }